.image {
   height: 20vh;
  }

.ProductListItem {
display: flex;
justify-content: space-around;
align-items: center;
margin: auto;

}

.name {
  color: white;
}

.ProductListItem :hover {
  color: hotpink;
}