.NewOrderPage {
    height: 100%;
    display: inline;
    grid-template-rows: 25fr 25fr 25fr;
    grid-template-columns: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
  }

  h1 {
    text-align: center;
  }

  .UserLogOut {
    text-align: right;
    margin: 20px;
    color:white;
  }

.Logo {
  position: relative;
}