.CategoryList {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
  }
  
  .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
  .CategoryList li:hover:not(.active) {
    cursor: pointer;
    border: .1vmin solid hotpink;
  }
  
  .CategoryList li.active {
    border: .1vmin solid hotpink;
  }