body {
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: 'Merienda', cursive;
  font-family: 'Teko', sans-serif;
  font-family: 'Tilt Warp', cursive;
}